rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /early-access-signups/{document=**} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}